<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ejercicios 1 al 7
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div-->
  <ion-button href="/ejercicio01" expand="full">Ejercicio 1</ion-button>
  <ion-button href="/ejercicio02" expand="full">Ejercicio 2</ion-button>
  <ion-button href="/ejercicio03" expand="full">Ejercicio 3</ion-button>
  <ion-button href="/ejercicio04" expand="full">Ejercicio 4</ion-button>
  <ion-button href="/ejercicio05" expand="full">Ejercicio 5</ion-button>
  <ion-button href="/ejercicio06" expand="full">Ejercicio 6</ion-button>
  <ion-button href="/ejercicio07" expand="full">Ejercicio 7</ion-button>
</ion-content>
